.sectionfirst {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: #fff;
  background: #241960 0% 0% no-repeat padding-box;
  opacity: 1;
  font: normal normal normal 12px/15px Montserrat;
  font-size: 12px !important;
  height: 30px;
}
.sectionfirst > div {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}
.sectionfirst > div > div:nth-child(1) {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
}
.sectionfirst > div > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sectionfirst > div > div:nth-child(2) > a > svg {
  width: 16px;
  height: 16px;
}
/***************** header 2******************/
.sectionsecond > div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 75px;
}
.sectionsecond > div > div:nth-child(2) {
  display: inline-flex;
  position: relative;
  width: 519px;
  height: 39px;
}
.sectionsecond > div > div > input {
  display: flex;
  width: 519px;
  height: 39px;
  padding-left: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d0d0d0;
  border-radius: 7px;
  font-size: 14px;
}
.sectionsecond > div > div:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url("../img/IconPesquisa.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  top: 6px;
  left: 485px !important;
}
.sectionsecond > div > div > input::placeholder {
  /* UI Properties */
  text-align: start;
  font: normal normal normal 14px/18px Montserrat;
  color: #d0d0d0;
}
.sectionsecond > div > div:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 14px;
  gap: 30px;
}
.sectionsecond > div > div:nth-child(3) > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  color: #313131;
}
.sectionsecond > div > div:nth-child(3) > a > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sectionsecond > div > div:nth-child(3) > a > div > span {
  font-size: 12px;
}
/******************header third************************/
.sectionthird {
  background-color: #52bbb7;
}
.sectionthird div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 43px;
  background-color: #52bbb7;
}
.sectionthird a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.btn {
  position: relative;
  display: flex;
}
.btnQ {
  position: absolute;

  width: 17px;
  height: 17px;
  text-align: center;
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 13px;
  background-color: #ff0000;
  overflow: hidden;
}
