.sectionfirst {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 75px;
}
.sectionfirst > div:nth-child(2) {
  display: inline-flex;
  position: relative;
  width: 519px;
  height: 39px;
}
.sectionfirst > div > input {
  display: flex;
  width: 519px;
  height: 39px;
  padding-left: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d0d0d0;
  border-radius: 7px;
  font-size: 14px;
}
.sectionfirst > div:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url("../img/IconPesquisa.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  top: 6px;
  left: 485px !important;
}
.sectionfirst > div > input::placeholder {
  /* UI Properties */
  text-align: start;
  font: normal normal normal 14px/18px Montserrat;
  color: #d0d0d0;
}
.sectionfirst > div:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 14px;
  gap: 30px;
}
.sectionfirst > div:nth-child(3) > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  color: #313131;
}
.sectionfirst > div:nth-child(3) > a > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sectionfirst > div:nth-child(3) > a > div > span {
  font-size: 12px;
}
