.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.main > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.main > div > h1 {
  font-size: 24px;
  top: 641px;
  color: #292929;
  padding: 35px 0;
}
.main > div > section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: relative;
  gap: 5px;
  padding: 10px;
}

.main > div > section::after {
  content: "";
  position: absolute;
  background-image: url("../img/seta.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  width: 32px;
  height: 32px;
  bottom: 180px;
  left: 0px;
}
.main > div > section::before {
  content: "";
  position: absolute;
  background-image: url("../img/seta.svg");
  background-repeat: no-repeat;
  background-position: left center;
  transform: rotate(180deg);
  background-position: 100%;
  width: 32px;
  height: 32px;
  bottom: 180px;
  right: 0px;
  cursor: pointer;
}
.main > div > section > div {
  width: 255px;
}
.main > div > section > div > .produto {
  display: block;
  width: 255px;
  height: 264px;
}
.main > div > section > div > h2 {
  padding: 20px 0;
  font-size: 16px;
  color: #292929;
  font-weight: normal;
}
.main > div > section > div > p {
  font-size: 20px;
  padding: 2px 0;
  color: #292929;
}

@media (max-width: 1000px) {
  .main > div > section {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
  }
}
